<a href="https://colab.research.google.com/github/twongz/PYTH225_HW/blob/master/Copy_of_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [26]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.
x= ['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
print(x)

# Print the 4th animal on the list.
print(x[3])

# Add 'tortoise' to the beginning of the list.

x.insert(0,'tortoise')
print(x)


# Print the length of the list.
print(len(x))

# Remove 'orangutan' from the list.
bye_animals= x.pop(4)
print(x)

# Sort the list alphabetically and print it out.
x.sort()
print(x)

['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
orangutan
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [25]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = ['Tim', 'Tom', 'Steve', 'Rebecca', 'Ken']

# Print the 3rd name on the list

print(names[2])

# Delete the first name on the list
bye_Tim = names.pop(0)
print(names)


# Re-add the name you deleted to the end of the list

names.extend(["Tim"])
print(names)

# Replace the 2nd name on the list with a new name.

names[1] = "Ed"

# Add 3 new names to the end of the list.

new_names = ["Bob","Dom","Joe"]
names.extend(new_names)
print(names)

Steve
['Tom', 'Steve', 'Rebecca', 'Ken']
['Tom', 'Steve', 'Rebecca', 'Ken', 'Tim']
['Tom', 'Ed', 'Rebecca', 'Ken', 'Tim', 'Bob', 'Dom', 'Joe']



### P3.PY

In [17]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = [2, 4, 6, 8]

# Print the max of `numbers`.
print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.

last = numbers.pop(3)
print(numbers)
numbers.insert(2, last)
print(numbers)

# Pop the second number in `numbers` off.

numbers.pop(1)
print(numbers)

# Append `3` to `numbers`.

numbers.append(3)
print(numbers)
# Print out the average number.

numsum = (sum(numbers))
numavg= (numsum/len(numbers))
print(numavg)

8
[2, 4, 6]
[2, 4, 8, 6]
[2, 8, 6]
[2, 8, 6, 3]
4.75



## SORTING

### P1.PY

In [23]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.
playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.
playlist_titles.sort(reverse= True)
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [58]:
"""
Ordering Random Numbers
"""
import random
# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

tim_list = []

for i in range(6):
  random_number = random.randint(0, 9)
  tim_list.append(random_number)

tim_list.sort(reverse = True)
print(tim_list)

[9, 8, 7, 6, 2, 1]

## LIST MANIPULATION

### P1.PY

In [47]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'

[3]



### P2.PY

In [66]:
"""
Basic Math Ops
"""
nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]
# Given the list below, assign the correct values to the variables below
my_sum = (sum(nums))
print(my_sum)
	# my_min = 
my_min = (min(nums))
print(my_min)
	# my_max = 
my_max = (max(nums))
print(my_max)
	# my_range = 
print(nums[1:5])
	# my_mean =
my_mean = (my_sum/len(nums))
print(my_mean)




# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

174
2
30
[19, 20, 12, 6]
17.4



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = None


# B) Combine the two given lists and assign them to list4.
list4 = None


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:2] = None

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = None


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.



### P4.PY

In [85]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

cool_runnings[10] = 'YOLO'
cool_runnings

['Feel',
 'the',
 'rhythm.',
 'Feel',
 'the',
 'rhyme.',
 'Get',
 'on',
 'up.',
 "It's",
 'YOLO',
 'time!']

In [128]:
counter = 0
for i in range(0,4):
  chorus = ''
  for word in cool_runnings[counter:counter+3]:
    chorus += word 
    chorus += ' ' 
  print(chorus)
  counter += 3

Feel the rhythm.
Feel the rhyme.
Get on up.
It's YOLO time!

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

print(tuple1[0][0]) + list1[0]
print(tuple1[0][1]) + list1[1]
print(tuple1[1][0]) + list1[2]
print(tuple1[1][1]) + list1[3]
print(tuple1[2][0]) + list1[4]
print(tuple1[2][1]) + list1[5]



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

import pandas as pd
import statistics as stats
import numpy as np
sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]
print(sorted(sample))

my_median = np.median(sample)
my_mode = max(set(sample), key = sample.count)
my_sd = stats.stdev(sample)
my_variance = my_sd**2

print(f"""
Median = {my_median}
Mode = {my_mode}
Variance = {my_variance}
Standard Deviation = {my_sd}
""")

# Once you finish, print out each value **on its own line** in this format: "median = " etc.